a[href^="https://www.google.com"] {
    color: green;
}
a[target]{
    color: red;
}
#second-div p:nth-child(even) {
    color: darkred;
}
#second-div p:nth-child(odd) {
    color: darkblue;
}
#first-div > p::after {
    content: " - NEW";
    color: yellow;
}
body > p:last-child:hover {
    font-style: italic;
    cursor: pointer;
}